name: tests
on:
  pull_request:
  push:
    branches: [ main ]
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

jobs:
  tests:
    defaults:
      run:
        shell: bash

    strategy:
      matrix:
        os: [ ubuntu-latest ]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Install DDEV
        run: |
          curl -fsSL https://ddev.com/install.sh | bash

      - name: Install Bats
        run: |
          sudo apt-get update
          sudo apt-get install -y bats

      - name: Run tests
        run: bats tests
